@font-face {
   font-family: 'ArgentumNovus-Bold';
   font-display: swap;
   src: url('ArgentumNovus-Bold/font.ttf');
}
@font-face {
   font-family: 'ArgentumNovus-ExtraLight';
   font-display: swap;
   src: url('ArgentumNovus-ExtraLight/font.ttf');
}
